* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0e0e0e;
  font-family: 'Roboto', sans-serif;
  color: white;
}

/* TODO el resto de tu CSS exactamente igual */
/* No cambies nada */
